<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/game.css">
    <title>AIPoker</title>
</head>
<body>
    <div class="container">
        <div class="player-hand" id="playerHand">
            <!-- Player's initial hand will be added here -->
        </div>
    
        <div class="played-cards" id="playedCards">
            <!-- Played cards will be added here -->
        </div>
    
        <div class="discard-pile" id="discardPile">
            <!-- Discarded cards will be added here -->
        </div>
    
        <div class="button-group">
            <button id="playButton" onclick="playCards()">Play Selected Cards</button>
            <button id="replaceButton" onclick="redrawCards()">Replace Cards</button>
            <button id="resetButton" onclick="reset()">Reset Game</button>
            <button id="sortByValueButton" onclick="sortCardsByValue()">Sort by Value</button>
            <button id="sortBySuitButton" onclick="sortCardsBySuit()">Sort by Suit</button>
        </div>
    
        <div class="data-text">
            Points Needed: <span id="pointsNeeded">0</span>
        </div>
        <div class="data-text">
            Hands Remaining: <span id="handsRemaining">1</span>
        </div>
        <div class="data-text">
            Redraws Remaining: <span id="redrawsRemaining">0</span>
        </div>
        <div class="data-text">
            Hand Rank: <span id="selectedHandRank"></span>
        </div>
        <div class="data-text">
            Hand Points: <span id="selectedHandPoints"></span>
        </div>
        <div class="data-text">
            <span id="level"></span>
        </div>
        <div class="bonus-cards" id="bonusCards">
            <!-- Bonus cards will be added here -->
        </div>
    </div>
    
    <script>
        // Pass the username to JavaScript
        const username = "<%= username %>";
        window.username = username;
    </script>
    <script type="module" src="./js/bundle.js"></script>
</body>
</html>