<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to API Poker Saga</h1>
        <div class="button-group">
            <form action="/login" method="post">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <button type="submit">Play</button>
            </form>
            <a href="/about" class="about-button">About</a>
            <a href="/records" class="records-button">Records</a>
        </div>
    </div>
</body>
</html>
